@use '/src/global-styles/screen-mixins.scss' as screen;

.history-dates-circle {
  border: 1px solid var(--blue-dark-20);
  border-radius: 50%;
  max-width: 524px;
  width: 100%;
  height: 530px;

  @include screen.mobile {
    display: none;
  }
}
