@use '/src/global-styles/screen-mixins.scss' as screen;

.history-dates-circle {
  position: relative;
  width: 524px;
  height: 530px;
  margin: 0 auto;
  border: 1px solid var(--blue-dark-20);
  border-radius: 50%;

  @include screen.mobile {
    display: none;
  }
}
