:root {
  --main: #42567a;
  --blue: #3877ee;
  --pink: #ef5da8;

  /* background */
  --blue-dark: #42567a;
  --blue-dark-10: rgba(66, 86, 122, 0.1);
  --blue-dark-20: rgba(66, 86, 122, 0.2);
  --blue-dark-40: rgba(66, 86, 122, 0.4);
  --blue-dark-50: rgba(66, 86, 122, 0.5);
  --gray: #c7cdd9;
  --light: #ffffff;
  --light-20: rgba(255, 255, 255, 0.2);
  --light-secondary: #f4f5f9;
  --border-50: rgba(48, 62, 88, 0.5);
}
